<div class="row column nav">
  <h6>NAVIGATION</h6>
  <ul class="menu vertical">
    <li><a href="#"><i class="fi-home"></i> <span>Homepage</span></a></li>
    <li><a href="#"><i class="fi-eye"></i> <span>Products</span></a></li>
      <ul class="nested vertical menu">
        <li><a href="#">Example Sub Item</a></li>
      </ul>
    <li><a href="#"><i class="fi-info"></i> <span>About Us</span></a></li>
    <li class="active"><a href="#"><i class="fi-pencil"></i> <span>Blog</span></a></li>
    <li><a href="#"><i class="fi-book"></i> <span>Knowledgebase</span></a></li>
    <li><a href="#"><i class="fi-comments"></i> <span>Support Forums</span></a></li>
  </ul>
  <h6>ACCOUNTS</h6>
  <ul class="menu vertical">
    <li><a href="#"><i class="fi-torso"></i> <span>Register</span></a></li>
    <li><a href="#"><i class="fi-lock"></i> <span>Login</span></a></li>
  </ul>
  <h6>SEARCH</h6>
  <div class="dark">
    <form>
      <span><input type="text" class="search square" placeholder="Example..."></span>
    </form>
  </div>
</div>